---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
const identity = {
  name: "iago",
  country: "Brasil",
  occupation: "Fullstack Developer",
  hobbies: ["Football"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Typescript",
  "React",
  "Next",
  "Astro",
  "Node",
  "Nest",
  "Express",
  "Mongodb",
  "Postgres",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Layout title="Tutorial blog - Astro">
  <main>
    <h1 class="text-gradient">My blog</h1>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.name}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul class="grid">
      {skills.map((skill) => <li class="grid-item">{skill}</li>)}
    </ul>
  </main>
</Layout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-inline-start: 0px;
  }

  .grid-item {
    list-style-type: none;
    text-align: center;
  }

  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
